<header class="main-header">
  <div class="header">
    <img src="https://www.hsbc.co.in/content/dam/hsbc/in/images/01_HSBC_MASTERBRAND_LOGO_RGB.svg" alt="Bank Logo"/>
    <!-- <div class="logo">
      <a href="/login">MyBank Portal</a>
    </div> -->
    <nav class="navbar">
      <button *ngIf="isLoggedIn()" (click)="logout()" class="logout-button">Logout</button>
    </nav>
  </div>
</header>

<!-- <div class="header">

  <div class="navbar">
    
    

   
    <button id="logoutBtn" onclick="logout()" style="display:none;">Logout</button>
  </div>
</div> -->