<div class="form-container">
  <h2>Edit Employee</h2>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <form #employeeForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="employeeId">Employee ID</label>
      <input type="text" id="employeeId" name="employeeId" [(ngModel)]="employee.employeeId" #employeeIdField="ngModel" readonly>
      
      <div *ngIf="employeeIdField.invalid && (employeeIdField.dirty || employeeIdField.touched)" class="error-message">
        <div *ngIf="employeeIdField.errors?.['required']">Employee ID is required.</div>
        <div *ngIf="employeeIdField.errors?.['pattern']">Employee ID must be exactly 8 numeric digits.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" [(ngModel)]="employee.firstName" 
             required maxlength="20" #firstNameField="ngModel" pattern="^[a-zA-Z\s]+$">

     
      <div *ngIf="firstNameField.invalid && (firstNameField.dirty || firstNameField.touched)" class="error-message">
        <div *ngIf="firstNameField.errors?.['required']">First Name is required.</div>
        <div *ngIf="firstNameField.errors?.['pattern']">First Name must have only alphabets</div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="employee.lastName" 
             required maxlength="20" #lastNameField="ngModel" pattern="^[a-zA-Z\s]+$">

      <div *ngIf="lastNameField.invalid && (lastNameField.dirty || lastNameField.touched)" class="error-message">
        <div *ngIf="lastNameField.errors?.['required']">Last Name is required.</div>
        <div *ngIf="lastNameField.errors?.['pattern']">Last Name must have only alphabets.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="employee.email" 
             required email #emailField="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
             
      <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)" class="error-message">
        <div *ngIf="emailField.errors?.['required']">Email is required.</div>
        <div *ngIf="emailField.errors?.['pattern']">Please enter a valid email format.</div>
      </div>
    </div>


    <!-- <div class="form-group">
      <label for="dateOfBirth">Date of Birth</label>
      <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" 
             required #dobField="ngModel">

      <div *ngIf="dobField.invalid && (dobField.dirty || dobField.touched)" class="error-message">
        Date of Birth is required.
      </div>
    </div> -->

    <div class="form-group">
      <label for="department">Department</label>
      <input type="text" id="department" name="department" [(ngModel)]="employee.department" 
             required #departmentField="ngModel">

      <div *ngIf="departmentField.invalid && (departmentField.dirty || departmentField.touched)" class="error-message">
        Department is required.
      </div>
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <textarea id="address" name="address" [(ngModel)]="employee.address" 
                required maxlength="100" #addressField="ngModel"></textarea>

      <div *ngIf="addressField.invalid && (addressField.dirty || addressField.touched)" class="error-message">
        Address is required.
      </div>
    </div>

    <button type="submit" [disabled]="!employeeForm.valid">Save Changes</button>
    <br> <br>
    <button type="button" class="back-button" (click)="goBack()">Back to Dashboard</button>
  </form>
</div>