<div class="form-container">
  <h2>Reset Customer Password</h2>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <form #resetForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="customerId">Customer ID</label>
      <input type="text" id="customerId" name="customerId" [(ngModel)]="resetData.customerId" required
        pattern="^[A-Z]{4}[0-9]{6}$" #ssnField="ngModel">
      <div *ngIf="ssnField.invalid && (ssnField.dirty || ssnField.touched)" class="error-message">
        <div *ngIf="ssnField.errors?.['required']">Customer ID is required.</div>
        <div *ngIf="ssnField.errors?.['pattern']">Enter a valid Customer ID(e.g., ABDE123456).</div>
      </div>
    </div>
    <div class="form-group">
      <label for="accountNumber">Account Number</label>
      <input type="text" id="accountNumber" name="accountNumber" [(ngModel)]="resetData.accountNumber" required
        pattern="^\d{13}$" #accountField="ngModel">
      <div *ngIf="accountField.invalid && (accountField.dirty || accountField.touched)" class="error-message">
        <div *ngIf="accountField.errors?.['required']">Account Number is required.</div>
        <div *ngIf="accountField.errors?.['pattern']">Account Number must be exactly 13 numeric digits.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="resetData.oldPassword" required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" #passwordField="ngModel">
      <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)" class="error-message">
        <div *ngIf="passwordField.errors?.['required']">Password is required.</div>
        <div *ngIf="passwordField.errors?.['pattern']">
          Password must contain 8 characters [1 lowercase, 1 uppercase, 1 number, 1 special character ($, %, !, *, ?,
          &)]
        </div>

      </div>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" name="newPassword" [(ngModel)]="resetData.newPassword" required
        minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        #passwordField="ngModel">
      <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)" class="error-message">
        <div *ngIf="passwordField.errors?.['required']">Password is required.</div>
        <div *ngIf="passwordField.errors?.['pattern']">
          Password must contain 8 characters [1 lowercase, 1 uppercase, 1 number, 1 special character ($, %, !, *, ?,
          &)]
        </div>

      </div>
    </div>

    <button type="submit" [disabled]="!resetForm.valid">Reset Password</button>
    <br><br>
    <button type="button" class="back-button" (click)="goToLogin()">Back to Login</button>
  </form>
</div>