.login-container {
  width: 100%;
  max-width: 450px; /* Set a max-width for the form */
  padding: 1rem;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  margin-top: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}


input[type="text"],
input[type="password"],
input[type="number"],
select {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: calc(var(--border-radius) / 2);
  box-sizing: border-box;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus, select:focus {
  outline: none;
  border-color: #dc3545;
  
}

button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  border-radius: calc(var(--border-radius) / 2);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:not(:disabled) {
  background-color: #7c010e; /* Darker blue on hover */
}

button[type="submit"]:hover:not(:disabled) {
  background-color: #ff0019; /* Darker blue on hover */
}

.back-button:hover  {
  background-color:red;
  color: white;
}
.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
}

button:disabled {
  background-color: #000000;
  cursor: not-allowed;
}

.extra-links {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9em;
}

.extra-links a {
  display: block;
  margin-top: 0.5rem;
}

.error-message {
  color: #dc3545;
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  padding: 0.75rem;
  margin-top: 1rem;
  border-radius: calc(var(--border-radius) / 2);
}