<div class="dashboard-container">
  <div class="header">
    <h1>Employee Dashboard</h1>
    <!-- <button class="logout-button" (click)="logout()">Logout</button> -->
  </div>
  <p>Welcome, Employee!</p>
  <div class="actions">
    <div class="btn-block">
    <button (click)="goToDeposit()" >Deposit Money</button>
    <img src="images/deposit.png" alt="" style="border-radius: 0% !important;">
    </div>
     <div class="btn-block">
    <button (click)="goToWithdraw()">Withdraw Money</button>
    <img src="images/withdraw.png" alt="" >

    </div>  
       <div class="btn-block">
    
       <button (click)="goToViewCustomers()"> View all Active Accounts</button>
        <img src="images/view-employees.png" alt="" >
    </div>
      </div>
</div>