<div class="form-container">
  <h2>Customer Registration</h2>
  <p>Please enter your details to set your password and activate your account.</p>

  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <form #regForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="customerSSNId">Customer SSN ID (8 digits)</label>
      <input type="text" id="customerSSNId" name="customerSSNId" [(ngModel)]="regData.customerSSNId" required
        pattern="^\d{8}$" #ssnField="ngModel">
      <div *ngIf="ssnField.invalid && (ssnField.dirty || ssnField.touched)" class="error-message">
        <div *ngIf="ssnField.errors?.['required']">Customer ID is required.</div>
        <div *ngIf="ssnField.errors?.['pattern']">Customer ID must be exactly 8 numeric digits.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="accountNumber">Account Number</label>
      <input type="text" id="accountNumber" name="accountNumber" [(ngModel)]="regData.accountNumber" required
        pattern="^\d{13}$" #accountField="ngModel">
      <div *ngIf="accountField.invalid && (accountField.dirty || accountField.touched)" class="error-message">
        <div *ngIf="accountField.errors?.['required']">Account number is required.</div>
        <div *ngIf="accountField.errors?.['pattern']">Account Number must be exactly 13 numeric digits.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Set New Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="regData.password" required minlength="8"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" #passwordField="ngModel">
      <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)" class="error-message">
        <div *ngIf="passwordField.errors?.['required']">Password is required.</div>
        <div *ngIf="passwordField.errors?.['pattern']">
          Password must contain 8 characters [1 lowercase, 1 uppercase, 1 number, 1 special character ($, %, !, *, ?,
          &)]
        </div>

      </div>

    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
    </div>

    <div *ngIf="regData.password !== confirmPassword && regForm.controls['confirmPassword']?.touched"
      class="error-message">
      Passwords do not match.
    </div>

    <button type="submit" [disabled]="!regForm.valid || regData.password !== confirmPassword">Register</button>
    <button type="button" class="back-button" (click)="goToLogin()" style="margin-top: 10px;">Back to Login</button>
  </form>
</div>