<div class="dashboard-container">
  <h1>Manager Dashboard</h1>
  <p>Welcome, Manager!</p>

  <div class="actions">
    <div class="btn-block">
      <button (click)="goToRegisterEmployee()">Register New Employee</button>
      <img src="images/register-employee.png" alt="">
    </div>
    <div class="btn-block">
      <button (click)="goToViewEmployees()"> View all Employees</button>
      <img src="images/view-employees.png" alt="" >

    </div>
    <div class="btn-block">
      <button (click)="goToCreateCustomerAccount()">Create Customer Account</button>
      <img src="images/create-customer.ico" alt="" >

    </div>
    <div class="btn-block">
      <button (click)="goToViewCustomers()"> View all Customers</button>
      <img src="images/view-employees.png" alt="" >
    </div>
  </div>

</div>